.accordion-section {
  background-color: #01041c;
  padding: 0 2%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 10px 30px;
  font-size: 0.8rem;
}

.imagg img {
  height: 400px;
  width: 220px;
  /* margin: 20px; */
}

.accordion {
  width: 70%;
  padding: 0px 0 0 0px;
  color: white;
  /* //height: 10px; */
}

.item {
  background-color: #01041c;
  margin-bottom: 5px;
  padding: 0px 0 0 0px;
  margin: 0px 0 0 10px;
}

.title {
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  margin: 15px 0;
}

.content {
  color: #ffffff;
  max-height: 0;
  overflow: hidden;
  font-weight: 400;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 50px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  margin-bottom: 30px;
}

.image {
  padding: 0 90px 0 0;
}

@media screen and (max-width: 768px) {
  .wrapper .imagg {
    display: none;
  }
  .accordion {
    width: 100%;
  }
  
}
